<div class="offcanvas offcanvas-start d-flex d-lg-none" id="drawer-menu" tabindex="-1">
<div class="offcanvas-wrapper">
<div class="offcanvas-header border-btm-black">
<h5 class="drawer-heading">Menu</h5>
<button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
</div>
<div class="offcanvas-body p-0 d-flex flex-column justify-content-between">
<nav class="site-navigation">
<ul class="main-menu list-unstyled">{{MOBILE_NAV_ITEMS}}</ul>
</nav>
<ul class="utility-menu list-unstyled">
<li class="utilty-menu-item">
<a class="announcement-text" href="{{ANNOUNCEMENT_CALL_HREF}}">
<span class="utilty-icon-wrapper">
<svg class="icon icon-phone" fill="none" height="24" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
</svg>
</span>
                  {{ANNOUNCEMENT_CALL_TEXT}}</a>
</li>
<li class="utilty-menu-item">
<a class="announcement-text" href="{{ANNOUNCEMENT_LINK_HREF}}" target="_blank" rel="noopener">
<span class="utilty-icon-wrapper">
<svg class="icon icon-external-link" fill="none" height="24" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M14 3h7v7"></path>
<path d="M10 14L21 3"></path>
<path d="M21 14v7h-7"></path>
<path d="M3 10V3h7"></path>
<path d="M3 3l18 18"></path>
</svg>
</span>
<span>{{ANNOUNCEMENT_LINK_TEXT}}</span>
</a>
</li>

<li class="utilty-menu-item">
<button aria-expanded="false" class="currency-btn btn-reset" data-bs-toggle="dropdown" type="button">
<img alt="img" class="flag" src="assets/img/flag/usd.jpg"/>
<span>USD</span>
<span class="utilty-icon-wrapper">
<svg class="icon icon-dropdown" fill="none" height="24" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<polyline points="6 9 12 15 18 9"></polyline>
</svg>
</span>
</button>
<ul class="currency-list dropdown-menu dropdown-menu-end px-2">
<li class="currency-list-item">
<a class="currency-list-option" data-value="USD" href="#">
<img alt="img" class="flag" src="assets/img/flag/usd.jpg"/>
<span>USD</span>
</a>
</li>
<li class="currency-list-item">
<a class="currency-list-option" data-value="CAD" href="#">
<img alt="img" class="flag" src="assets/img/flag/cad.jpg"/>
<span>CAD</span>
</a>
</li>
<li class="currency-list-item">
<a class="currency-list-option" data-value="EUR" href="#">
<img alt="img" class="flag" src="assets/img/flag/eur.jpg"/>
<span>EUR</span>
</a>
</li>
<li class="currency-list-item">
<a class="currency-list-option" data-value="JPY" href="#">
<img alt="img" class="flag" src="assets/img/flag/jpy.jpg"/>
<span>JPY</span>
</a>
</li>
<li class="currency-list-item">
<a class="currency-list-option" data-value="GBP" href="#">
<img alt="img" class="flag" src="assets/img/flag/gbp.jpg"/>
<span>GBP</span>
</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</div>

